<% issues.each do |issue| %>
    <a href="" class="list-item">
        <div class="mini-pict">
            <img src="images/pict.png">
        </div>
        <div class="name"><%= issue.user.name %></div>
        <div class="location"><%= issue.user.location %></div>
        <div class="title"><%= issue.title %></div>
        <div class="description"><%= issue.description[0, 160] %></div>
        <div class="amount"><%= issue.sponsorships.sum(:amount) %></div>
    </a>
<% end %>