	<a href="/issues/<%= issue.id %>" class="list-item">
        <div class="mini-pict">
            <img src="/assets/pict.png">
        </div>
        <% @rep = User.find(issue.rep_id) %>
        <div class="name"><%= @rep.name %></div>
        <div class="location"><%= @rep.location %></div>
        <div class="title"><%= issue.title[0,60] %></div>
        <div class="description"><%= issue.description[0, 160] %></div>
        <div class="amount"><%= issue.sponsorships.sum(:amount) %></div>
    </a>