<head>Issue</head>
<body>
	<div>
		Pledge Button
	</div>
	<div>
		<%= @issue.title %>
	</div>
	<div>
		<%= @issue.description %>
	</div>
	<div>
		<%= @issue.plan %>
	</div>
	<div>
		<%= @issue.user.name %><%= @issue.user.bio %><%= @issue.user.email_address %>
	</div>
	<div>
		Twitter Feed
	</div>

</body>
