<head><h3><%= @issue.title %></h3></head>
<body>
	<div>
		<%= link_to "Sponsor this Issue", new_issue_sponsorships_path(params[:id]) %>
	</div>
	<div>
		<%= @issue.description %>
	</div>
	<div>
		<%= @issue.plan %>
	</div>
	<div>
		<% @rep = User.find(@issue.rep_id) %>
		<%= @rep.name %>
	</div>
	<div>
		<%= @rep.bio %>
	</div>
	<div>
		<%= @rep.email %>
	</div>	
	<div>
		<% twitter_puller %>
		<ul>
			<% @rep_twitter.each do |tweet| %>
				<li><%= tweet.text %></li>
			<% end %>
		</ul>
	</div>

</body>
