		<div class="content">
			<div class="column">
				<div class="loginForm">
			        <h1>Become A Champion</h1>
			        <%= form_for(current_user) do |f| %>
				        <p>Sign up as an official change maker in our community</p>
				        <p><label>1. Add your Photo:</label><a href="" class="button">Upload Photo</a></p>
				        <p><label>2. Add your Location</label></p>
				        <p class="formWideItem"><%= f.text_field :location, :placeholder => "e.g., San Francisco, CA" %></p>
				        <p><label>3. Add your Bio</label></p>
				        <p class="formWideItem"><%= f.text_area :bio, :placeholder => "This is who you are and what you've done in the past." %></p>
				        <p><label>4. Add your Twitter Account</label></p>
				        <p class="formWideItem"><%= f.text_field :twitter_handle, :placeholder => "e.g., @ilobby" %></p>
						<%= f.hidden_field :rep_status, :value => "true" %>
				        <div class="right"><%= f.submit 'Submit', :class => 'button' %></div>
			        <% end %>
			    </div>
			 </div>
		</div>