		<div class="content">
			<div class="column">
				<div class="loginForm">
					<h1>Login</h1>
					<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
						<p class="formItem"><span>Your Email</span><%= f.email_field :email %></p>
						<p class="formItem"><span>Password</span><%= f.password_field :password %></p>
						<div class="right">
							<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
							  <%= link_to "Forgot your password?", new_password_path(resource_name) %>
							<% end -%>
							  <% if devise_mapping.rememberable? -%>
							    <p><%= f.check_box :remember_me %> <%= f.label :remember_me %></p>
							  <% end -%>
							<input type="submit" value="Login" class="button" />
						</div>			
					<% end %>
				</div>
			</div>
		</div>
